ADMIN_SYNC_SECRET=
FIRESTORE_DATABASE_ID=
GOOGLE_CLOUD_PROJECT=
PHARMACY_SPREADSHEET_ID=
SHEETS_FETCH_TIMEOUT_MS=
DUOC_THU_STORE_NAME=
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=